.footer
  margin 40px 0 0 0
  border-top: 2px solid c.grey1
  > .section
    width 33.333%
    float left
    text-align center
    padding 30px 0 0 0
    &:nth-child(1) > .inner
      border-right: 2px solid c.grey1
    &:nth-child(3) > .inner
      border-left: 2px solid c.grey1
    > .inner
      padding 0px
      height 100px
      > .title
        font f_copyi
        text-transform uppercase
    &.section_follow > .inner > .socials
      padding 20px 0 0 0
      > .social
        display inline-block
        social_icon()
      
    &.section_note > .inner > .email
      display inline-block
      margin 20px 0 0 0
      social_icon()
    &.section_d > .inner > .logo
      margin auto
      background-image url('/img/logo_transparent.png')
      background-size cover
      width 100px
      height 100px

