
social_icon()
  width 40px
  height 40px
  padding 10px
  border-radius 5px
  transition background-color 0.1s linear 0.05s
  &:hover
    background-color: c.grey2
    > svg
      > path, > g, > g > path
        fill: c.white1
  > svg
    width inherit
    height inherit
    > path, > g, > g > path
      fill: c.grey2
      transition fill 0.1s linear 0s

