.footer
  .section.section_follow
    .inner
      .title follow us
      .socials
        a.social(href='https://instagram.com/daffodildigital/',target='_new')
          include ../../pub/svg/instagram.svg
        a.social(href='https://www.twitter.com/daffodildigital/',target='_new')
          include ../../pub/svg/twitter.svg
        a.social(href='https://www.facebook.com/daffodildigital/',target='_new')
          include ../../pub/svg/facebook.svg
  .section.section_d
    .inner
      .logo
  .section.section_note
    .inner
      .title drop us a note
      a.email(href='mailto:hello@daffodildigital.com')
        include ../../pub/svg/email.svg
.clear

