
.header
  .logo
    .daffodil DAFFODIL
    .digital digital

  .menu
    a.item.item_home(href='#home') home
    a.item.item_services(href='#services') services
    a.item.item_portfolio(href='#portfolio') portfolio
    a.item.item_about(href='#about') about
    a.item.item_contact(href='#contact') contact
    .line


