
.header
  .logo
    .daffodil DAFFODIL
    .digital digital

  .menu
    a.item.item_home(data-section='home',href='#home') home
    a.item.item_services(data-section='services',href='#services') services
    a.item.item_portfolio(data-section='portfolio',href='#portfolio') portfolio
    a.item.item_about(data-section='about',href='#about') about
    .line

