
extends ../inc/layout

block content
  .guide
    .title Daffodil Digital style guide

    .sections
      .section.colors
        .title Colors
        each color, name in data.colors
          .color(class='color_'+name) #{name} (#{color})
      .section.fonts
        .title Fonts

        .font.font_f_copy f_copy 16px gotham book
        .font.font_f_copyi f_copyi 16px gotham bookitalic
        .font.font_f_copyi f_copyb 16px gotham bold
        .font.font_f_copy2 f_copy2 24px gotham book
        .font.font_f_copy2b f_copy2b 24px gotham bold
        .font.font_f_h1 f_h1 128px luxus-brut regular 
        .font.font_f_h2 f_h2 64px atc-rosemary regular
        .font.font_f_h3 f_h3 24px atc-rosemary regular
        .font.font_f_h4 f_h4 32px gotham book
        .font.font_f_h5 f_h5 32px gotham bold
      .clear
