.guide {
  padding: 50px 0 0 0;
  background-color: #fff;
}
.guide > .title {
  font: 24px atc-rosemary regular;
  padding: 0 0 0 50px;
  text-transform: uppercase;
}
.guide > .sections {
  padding: 20px;
}
.guide > .sections > .section {
  width: 33%;
  float: left;
}
.guide > .sections > .section > .color {
  padding: 10px 20px;
  margin: 5px;
}
.guide > .sections > .section > .color.color_black1 {
  background-color: #000;
  border: 1px solid #fff;
  color: #fff;
}
.guide > .sections > .section > .color.color_white1 {
  background-color: #fff;
  border: 1px solid #000;
  color: #000;
}
.guide > .sections > .section > .color.color_white2 {
  background-color: #f7eeea;
  border: 1px solid #000;
  color: #000;
}
.guide > .sections > .section > .color.color_grey1 {
  background-color: #e4e5e6;
  border: 1px solid #000;
  color: #000;
}
.guide > .sections > .section > .color.color_grey2 {
  background-color: #7f7773;
  border: 1px solid #fff;
  color: #fff;
}
.guide > .sections > .section > .color.color_grey3 {
  background-color: #bbbdbf;
  border: 1px solid #000;
  color: #000;
}
.guide > .sections > .section > .color.color_tan1 {
  background-color: #f8ead7;
  border: 1px solid #000;
  color: #000;
}
.guide > .sections > .section > .color.color_yellow1 {
  background-color: #babd56;
  border: 1px solid #000;
  color: #000;
}
.guide > .sections > .section > .color.color_yellow2 {
  background-color: #ede41f;
  border: 1px solid #000;
  color: #000;
}
.guide > .sections > .section > .font {
  padding: 10px 20px;
  margin: 5px;
  background-color: #fff;
  overflow-x: scroll;
  line-height: 50px !important;
}
.guide > .sections > .section > .font.font_f_copy {
  font: 16px gotham book;
}
.guide > .sections > .section > .font.font_f_copyi {
  font: 16px gotham bookitalic;
}
.guide > .sections > .section > .font.font_f_copy2 {
  font: 24px gotham book;
}
.guide > .sections > .section > .font.font_f_h1 {
  font: 128px luxus-brut regular;
}
.guide > .sections > .section > .font.font_f_h2 {
  font: 64px atc-rosemary regular;
}
.guide > .sections > .section > .font.font_f_h3 {
  font: 24px atc-rosemary regular;
}
@font-face {
  font-family: gotham blaq;
  src: url("fnt/gotham/blaq.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: gotham bold;
  src: url("fnt/gotham/bold.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: gotham book;
  src: url("fnt/gotham/book.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: gotham bookitalic;
  src: url("fnt/gotham/bookitalic.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: gotham light;
  src: url("fnt/gotham/light.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: gotham medium;
  src: url("fnt/gotham/medium.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: gotham thin;
  src: url("fnt/gotham/thin.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: gotham ultra;
  src: url("fnt/gotham/ultra.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: gotham xlight;
  src: url("fnt/gotham/xlight.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: atc-rosemary regular;
  src: url("fnt/atc-rosemary/regular.otf") format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: luxus-brut regular;
  src: url("fnt/luxus-brut/regular.otf") format('opentype');
  font-weight: normal;
  font-style: normal;
}
.footer {
  border-top: 2px solid #e4e5e6;
}
.footer > .section {
  width: 33.333%;
  float: left;
  text-align: center;
  padding: 30px 0 0 0;
}
.footer > .section:nth-child(1) > .inner {
  border-right: 2px solid #e4e5e6;
}
.footer > .section:nth-child(3) > .inner {
  border-left: 2px solid #e4e5e6;
}
.footer > .section > .inner {
  padding: 0px;
  height: 100px;
}
.footer > .section > .inner > .title {
  font: 16px gotham bookitalic;
  text-transform: uppercase;
}
.footer > .section.section_follow > .inner > .socials {
  padding: 20px 0 0 0;
}
.footer > .section.section_follow > .inner > .socials > .social {
  display: inline-block;
  width: 40px;
  height: 40px;
  padding: 10px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: background-color 0.1s linear 0.05s;
  -moz-transition: background-color 0.1s linear 0.05s;
  -o-transition: background-color 0.1s linear 0.05s;
  -ms-transition: background-color 0.1s linear 0.05s;
  transition: background-color 0.1s linear 0.05s;
}
.footer > .section.section_follow > .inner > .socials > .social:hover {
  background-color: #7f7773;
}
.footer > .section.section_follow > .inner > .socials > .social:hover > svg > path,
.footer > .section.section_follow > .inner > .socials > .social:hover > svg > g,
.footer > .section.section_follow > .inner > .socials > .social:hover > svg > g > path {
  fill: #fff;
}
.footer > .section.section_follow > .inner > .socials > .social > svg {
  width: inherit;
  height: inherit;
}
.footer > .section.section_follow > .inner > .socials > .social > svg > path,
.footer > .section.section_follow > .inner > .socials > .social > svg > g,
.footer > .section.section_follow > .inner > .socials > .social > svg > g > path {
  fill: #7f7773;
  -webkit-transition: fill 0.1s linear 0s;
  -moz-transition: fill 0.1s linear 0s;
  -o-transition: fill 0.1s linear 0s;
  -ms-transition: fill 0.1s linear 0s;
  transition: fill 0.1s linear 0s;
}
.footer > .section.section_note > .inner > .email {
  display: inline-block;
  margin: 20px 0 0 0;
  width: 40px;
  height: 40px;
  padding: 10px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: background-color 0.1s linear 0.05s;
  -moz-transition: background-color 0.1s linear 0.05s;
  -o-transition: background-color 0.1s linear 0.05s;
  -ms-transition: background-color 0.1s linear 0.05s;
  transition: background-color 0.1s linear 0.05s;
}
.footer > .section.section_note > .inner > .email:hover {
  background-color: #7f7773;
}
.footer > .section.section_note > .inner > .email:hover > svg > path,
.footer > .section.section_note > .inner > .email:hover > svg > g,
.footer > .section.section_note > .inner > .email:hover > svg > g > path {
  fill: #fff;
}
.footer > .section.section_note > .inner > .email > svg {
  width: inherit;
  height: inherit;
}
.footer > .section.section_note > .inner > .email > svg > path,
.footer > .section.section_note > .inner > .email > svg > g,
.footer > .section.section_note > .inner > .email > svg > g > path {
  fill: #7f7773;
  -webkit-transition: fill 0.1s linear 0s;
  -moz-transition: fill 0.1s linear 0s;
  -o-transition: fill 0.1s linear 0s;
  -ms-transition: fill 0.1s linear 0s;
  transition: fill 0.1s linear 0s;
}
.footer > .section.section_d > .inner > .logo {
  margin: auto;
  background-image: url("/img/logo_transparent.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  width: 100px;
  height: 100px;
}
.header > .logo {
  color: #babd56;
  width: 348px;
  text-align: center;
  margin: auto;
  padding: 0 0 60px 0;
}
.header > .logo > .daffodil {
  font: 64px atc-rosemary regular;
}
.header > .logo > .digital {
  font: 128px luxus-brut regular;
  line-height: 64px;
}
.header > .menu {
  text-align: center;
}
.header > .menu > .item {
  display: inline-block;
  cursor: pointer;
  font: 24px atc-rosemary regular;
  text-transform: uppercase;
  color: #bbbdbf;
  padding: 20px 40px;
  background-color: #fff;
  margin: 0 -3px;
  text-decoration: none;
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  -o-transition: color 0.1s linear;
  -ms-transition: color 0.1s linear;
  transition: color 0.1s linear;
  -webkit-animation: cellOutY 0.2s 0s ease-in both;
  -moz-animation: cellOutY 0.2s 0s ease-in both;
  -o-animation: cellOutY 0.2s 0s ease-in both;
  -ms-animation: cellOutY 0.2s 0s ease-in both;
  animation: cellOutY 0.2s 0s ease-in both;
}
.header > .menu > .item:nth-child(1),
.header > .menu > .item:nth-child(5) {
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  -o-animation-delay: 0.2s;
  -ms-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.header > .menu > .item:nth-child(2),
.header > .menu > .item:nth-child(4) {
  -webkit-animation-delay: 0.1s;
  -moz-animation-delay: 0.1s;
  -o-animation-delay: 0.1s;
  -ms-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
.header > .menu > .item:hover {
  color: #babd56;
}
.header > .menu > .item.active {
  color: #babd56;
  text-decoration: underline;
}
.header > .menu > .line {
  width: 100%;
  height: 2px;
  background-color: #e4e5e6;
  margin: -38px 0 68px 0;
}
@-moz-keyframes fadeIn {
  from {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
  to {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
  to {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
@-o-keyframes fadeIn {
  from {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
  to {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
  to {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
@-moz-keyframes charIn {
  from {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: perspective(200px) rotateY(90deg);
    -moz-transform: perspective(200px) rotateY(90deg);
    -o-transform: perspective(200px) rotateY(90deg);
    -ms-transform: perspective(200px) rotateY(90deg);
    transform: perspective(200px) rotateY(90deg);
  }
  to {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: perspective(200px) rotateY(0deg);
    -moz-transform: perspective(200px) rotateY(0deg);
    -o-transform: perspective(200px) rotateY(0deg);
    -ms-transform: perspective(200px) rotateY(0deg);
    transform: perspective(200px) rotateY(0deg);
  }
}
@-webkit-keyframes charIn {
  from {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: perspective(200px) rotateY(90deg);
    -moz-transform: perspective(200px) rotateY(90deg);
    -o-transform: perspective(200px) rotateY(90deg);
    -ms-transform: perspective(200px) rotateY(90deg);
    transform: perspective(200px) rotateY(90deg);
  }
  to {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: perspective(200px) rotateY(0deg);
    -moz-transform: perspective(200px) rotateY(0deg);
    -o-transform: perspective(200px) rotateY(0deg);
    -ms-transform: perspective(200px) rotateY(0deg);
    transform: perspective(200px) rotateY(0deg);
  }
}
@-o-keyframes charIn {
  from {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: perspective(200px) rotateY(90deg);
    -moz-transform: perspective(200px) rotateY(90deg);
    -o-transform: perspective(200px) rotateY(90deg);
    -ms-transform: perspective(200px) rotateY(90deg);
    transform: perspective(200px) rotateY(90deg);
  }
  to {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: perspective(200px) rotateY(0deg);
    -moz-transform: perspective(200px) rotateY(0deg);
    -o-transform: perspective(200px) rotateY(0deg);
    -ms-transform: perspective(200px) rotateY(0deg);
    transform: perspective(200px) rotateY(0deg);
  }
}
@keyframes charIn {
  from {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: perspective(200px) rotateY(90deg);
    -moz-transform: perspective(200px) rotateY(90deg);
    -o-transform: perspective(200px) rotateY(90deg);
    -ms-transform: perspective(200px) rotateY(90deg);
    transform: perspective(200px) rotateY(90deg);
  }
  to {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: perspective(200px) rotateY(0deg);
    -moz-transform: perspective(200px) rotateY(0deg);
    -o-transform: perspective(200px) rotateY(0deg);
    -ms-transform: perspective(200px) rotateY(0deg);
    transform: perspective(200px) rotateY(0deg);
  }
}
@-moz-keyframes cellInY {
  from {
    -webkit-transform: translate(0, 10px);
    -moz-transform: translate(0, 10px);
    -o-transform: translate(0, 10px);
    -ms-transform: translate(0, 10px);
    transform: translate(0, 10px);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
  to {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
@-webkit-keyframes cellInY {
  from {
    -webkit-transform: translate(0, 10px);
    -moz-transform: translate(0, 10px);
    -o-transform: translate(0, 10px);
    -ms-transform: translate(0, 10px);
    transform: translate(0, 10px);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
  to {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
@-o-keyframes cellInY {
  from {
    -webkit-transform: translate(0, 10px);
    -moz-transform: translate(0, 10px);
    -o-transform: translate(0, 10px);
    -ms-transform: translate(0, 10px);
    transform: translate(0, 10px);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
  to {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
@keyframes cellInY {
  from {
    -webkit-transform: translate(0, 10px);
    -moz-transform: translate(0, 10px);
    -o-transform: translate(0, 10px);
    -ms-transform: translate(0, 10px);
    transform: translate(0, 10px);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
  to {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
@-moz-keyframes cellInX {
  from {
    -webkit-transform: translate(10px, 0);
    -moz-transform: translate(10px, 0);
    -o-transform: translate(10px, 0);
    -ms-transform: translate(10px, 0);
    transform: translate(10px, 0);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
  to {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
@-webkit-keyframes cellInX {
  from {
    -webkit-transform: translate(10px, 0);
    -moz-transform: translate(10px, 0);
    -o-transform: translate(10px, 0);
    -ms-transform: translate(10px, 0);
    transform: translate(10px, 0);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
  to {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
@-o-keyframes cellInX {
  from {
    -webkit-transform: translate(10px, 0);
    -moz-transform: translate(10px, 0);
    -o-transform: translate(10px, 0);
    -ms-transform: translate(10px, 0);
    transform: translate(10px, 0);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
  to {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
@keyframes cellInX {
  from {
    -webkit-transform: translate(10px, 0);
    -moz-transform: translate(10px, 0);
    -o-transform: translate(10px, 0);
    -ms-transform: translate(10px, 0);
    transform: translate(10px, 0);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
  to {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
@-moz-keyframes cellOutY {
  from {
    -webkit-transform: translate(0, -10px);
    -moz-transform: translate(0, -10px);
    -o-transform: translate(0, -10px);
    -ms-transform: translate(0, -10px);
    transform: translate(0, -10px);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
  to {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
@-webkit-keyframes cellOutY {
  from {
    -webkit-transform: translate(0, -10px);
    -moz-transform: translate(0, -10px);
    -o-transform: translate(0, -10px);
    -ms-transform: translate(0, -10px);
    transform: translate(0, -10px);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
  to {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
@-o-keyframes cellOutY {
  from {
    -webkit-transform: translate(0, -10px);
    -moz-transform: translate(0, -10px);
    -o-transform: translate(0, -10px);
    -ms-transform: translate(0, -10px);
    transform: translate(0, -10px);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
  to {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
@keyframes cellOutY {
  from {
    -webkit-transform: translate(0, -10px);
    -moz-transform: translate(0, -10px);
    -o-transform: translate(0, -10px);
    -ms-transform: translate(0, -10px);
    transform: translate(0, -10px);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
  to {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
@-moz-keyframes filters {
  from {
    -webkit-transform: translate(0, -5px);
    -moz-transform: translate(0, -5px);
    -o-transform: translate(0, -5px);
    -ms-transform: translate(0, -5px);
    transform: translate(0, -5px);
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
  }
  to {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
@-webkit-keyframes filters {
  from {
    -webkit-transform: translate(0, -5px);
    -moz-transform: translate(0, -5px);
    -o-transform: translate(0, -5px);
    -ms-transform: translate(0, -5px);
    transform: translate(0, -5px);
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
  }
  to {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
@-o-keyframes filters {
  from {
    -webkit-transform: translate(0, -5px);
    -moz-transform: translate(0, -5px);
    -o-transform: translate(0, -5px);
    -ms-transform: translate(0, -5px);
    transform: translate(0, -5px);
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
  }
  to {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
@keyframes filters {
  from {
    -webkit-transform: translate(0, -5px);
    -moz-transform: translate(0, -5px);
    -o-transform: translate(0, -5px);
    -ms-transform: translate(0, -5px);
    transform: translate(0, -5px);
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
  }
  to {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
@-moz-keyframes cellOutX {
  from {
    -webkit-transform: translate(-10px, 0);
    -moz-transform: translate(-10px, 0);
    -o-transform: translate(-10px, 0);
    -ms-transform: translate(-10px, 0);
    transform: translate(-10px, 0);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
  to {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
@-webkit-keyframes cellOutX {
  from {
    -webkit-transform: translate(-10px, 0);
    -moz-transform: translate(-10px, 0);
    -o-transform: translate(-10px, 0);
    -ms-transform: translate(-10px, 0);
    transform: translate(-10px, 0);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
  to {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
@-o-keyframes cellOutX {
  from {
    -webkit-transform: translate(-10px, 0);
    -moz-transform: translate(-10px, 0);
    -o-transform: translate(-10px, 0);
    -ms-transform: translate(-10px, 0);
    transform: translate(-10px, 0);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
  to {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
@keyframes cellOutX {
  from {
    -webkit-transform: translate(-10px, 0);
    -moz-transform: translate(-10px, 0);
    -o-transform: translate(-10px, 0);
    -ms-transform: translate(-10px, 0);
    transform: translate(-10px, 0);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
  to {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
@-moz-keyframes slowzoom {
  from {
    -webkit-background-size: 150%;
    -moz-background-size: 150%;
    background-size: 150%;
  }
  to {
    -webkit-background-size: 250%;
    -moz-background-size: 250%;
    background-size: 250%;
  }
}
@-webkit-keyframes slowzoom {
  from {
    -webkit-background-size: 150%;
    -moz-background-size: 150%;
    background-size: 150%;
  }
  to {
    -webkit-background-size: 250%;
    -moz-background-size: 250%;
    background-size: 250%;
  }
}
@-o-keyframes slowzoom {
  from {
    -webkit-background-size: 150%;
    -moz-background-size: 150%;
    background-size: 150%;
  }
  to {
    -webkit-background-size: 250%;
    -moz-background-size: 250%;
    background-size: 250%;
  }
}
@keyframes slowzoom {
  from {
    -webkit-background-size: 150%;
    -moz-background-size: 150%;
    background-size: 150%;
  }
  to {
    -webkit-background-size: 250%;
    -moz-background-size: 250%;
    background-size: 250%;
  }
}
.clear {
  zoom: 1;
}
.clear:before,
.clear:after {
  content: "";
  display: table;
}
.clear:after {
  clear: both;
}
body {
  margin: 0;
  padding: 30px;
  background-color: #fff;
  color: #000;
  font: 16px gotham book;
}
body > .container {
  margin: auto;
  padding: 30px;
  border: 2px solid #e4e5e6;
  min-height: 100%;
  max-width: 1400px;
}
.home > .banner {
  position: relative;
  height: 600px;
  overflow: hidden;
}
.home > .banner > .inner {
  overflow: hidden;
  height: 900px;
  margin: -150px 0 0 0;
  background-position: 50% 50%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("/img/banner.jpg");
}
.home > .banner > .inner > .tags {
  width: 250px;
  height: 302px;
  background-image: url("/img/tags.png");
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -125px 0 0 -151px;
}
.home > .story {
  margin: 30px 0;
}
.home > .story > .section {
  width: 50%;
}
.home > .story > .section > .inner {
  padding: 20px;
}
.home > .story > .section.left {
  -webkit-animation: cellInY 0.2s 0.4s ease-in both;
  -moz-animation: cellInY 0.2s 0.4s ease-in both;
  -o-animation: cellInY 0.2s 0.4s ease-in both;
  -ms-animation: cellInY 0.2s 0.4s ease-in both;
  animation: cellInY 0.2s 0.4s ease-in both;
  float: left;
  height: 200px;
}
.home > .story > .section.left > .inner {
  height: inherit;
}
.home > .story > .section.left > .inner > svg {
  max-height: 150px;
}
.home > .story > .section.right {
  float: right;
  -webkit-animation: cellInY 0.2s 0.5s ease-in both;
  -moz-animation: cellInY 0.2s 0.5s ease-in both;
  -o-animation: cellInY 0.2s 0.5s ease-in both;
  -ms-animation: cellInY 0.2s 0.5s ease-in both;
  animation: cellInY 0.2s 0.5s ease-in both;
}
.home > .story > .section.right > .inner {
  border-left: 2px solid #e4e5e6;
  color: #7f7773;
  line-height: 40px;
}
.home > .story > .section.right > .inner > .title {
  text-transform: uppercase;
}
.home > .submenu {
  -webkit-animation: cellOutY 0.2s 0.6s ease-in both;
  -moz-animation: cellOutY 0.2s 0.6s ease-in both;
  -o-animation: cellOutY 0.2s 0.6s ease-in both;
  -ms-animation: cellOutY 0.2s 0.6s ease-in both;
  animation: cellOutY 0.2s 0.6s ease-in both;
}
.home > .submenu > .item {
  width: 33.333%;
  float: left;
  text-decoration: none;
}
.home > .submenu > .item:nth-child(1) > .inner {
  margin-left: 0px;
}
.home > .submenu > .item:nth-child(3) > .inner {
  margin-right: 0px;
}
.home > .submenu > .item:hover > .inner > .copy {
  color: #babd56;
  background-color: #fff;
}
.home > .submenu > .item > .inner {
  background-color: #babd56;
  margin: 20px;
  color: #fff;
  text-align: center;
  padding: 20px;
  text-transform: uppercase;
  font: 24px gotham book;
}
.home > .submenu > .item > .inner > .copy {
  padding: 40px 0;
  border: 1px solid #fff;
  -webkit-transition: background-color 0.1s linear, color 0.1s linear 0.1s;
  -moz-transition: background-color 0.1s linear, color 0.1s linear 0.1s;
  -o-transition: background-color 0.1s linear, color 0.1s linear 0.1s;
  -ms-transition: background-color 0.1s linear, color 0.1s linear 0.1s;
  transition: background-color 0.1s linear, color 0.1s linear 0.1s;
}
@-moz-keyframes tagsIn {
  from {
    -webkit-transform: translate(10px, -25px) rotate(10deg);
    -moz-transform: translate(10px, -25px) rotate(10deg);
    -o-transform: translate(10px, -25px) rotate(10deg);
    -ms-transform: translate(10px, -25px) rotate(10deg);
    transform: translate(10px, -25px) rotate(10deg);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
  to {
    -webkit-transform: translate(0, 0) rotate(0deg);
    -moz-transform: translate(0, 0) rotate(0deg);
    -o-transform: translate(0, 0) rotate(0deg);
    -ms-transform: translate(0, 0) rotate(0deg);
    transform: translate(0, 0) rotate(0deg);
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
@-webkit-keyframes tagsIn {
  from {
    -webkit-transform: translate(10px, -25px) rotate(10deg);
    -moz-transform: translate(10px, -25px) rotate(10deg);
    -o-transform: translate(10px, -25px) rotate(10deg);
    -ms-transform: translate(10px, -25px) rotate(10deg);
    transform: translate(10px, -25px) rotate(10deg);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
  to {
    -webkit-transform: translate(0, 0) rotate(0deg);
    -moz-transform: translate(0, 0) rotate(0deg);
    -o-transform: translate(0, 0) rotate(0deg);
    -ms-transform: translate(0, 0) rotate(0deg);
    transform: translate(0, 0) rotate(0deg);
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
@-o-keyframes tagsIn {
  from {
    -webkit-transform: translate(10px, -25px) rotate(10deg);
    -moz-transform: translate(10px, -25px) rotate(10deg);
    -o-transform: translate(10px, -25px) rotate(10deg);
    -ms-transform: translate(10px, -25px) rotate(10deg);
    transform: translate(10px, -25px) rotate(10deg);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
  to {
    -webkit-transform: translate(0, 0) rotate(0deg);
    -moz-transform: translate(0, 0) rotate(0deg);
    -o-transform: translate(0, 0) rotate(0deg);
    -ms-transform: translate(0, 0) rotate(0deg);
    transform: translate(0, 0) rotate(0deg);
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
@keyframes tagsIn {
  from {
    -webkit-transform: translate(10px, -25px) rotate(10deg);
    -moz-transform: translate(10px, -25px) rotate(10deg);
    -o-transform: translate(10px, -25px) rotate(10deg);
    -ms-transform: translate(10px, -25px) rotate(10deg);
    transform: translate(10px, -25px) rotate(10deg);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
  to {
    -webkit-transform: translate(0, 0) rotate(0deg);
    -moz-transform: translate(0, 0) rotate(0deg);
    -o-transform: translate(0, 0) rotate(0deg);
    -ms-transform: translate(0, 0) rotate(0deg);
    transform: translate(0, 0) rotate(0deg);
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
