
fonts = blaq bold book bookitalic light medium thin ultra xlight
fontfaces(gotham, fonts, ttf)

fonts = regular
fontfaces(atc-rosemary, fonts, otf)

fonts = regular
fontfaces(luxus-brut, fonts, otf)

