

.home
  > .banner
    position relative
    height 600px
    overflow hidden
    > .inner
      overflow hidden
      height 900px
      margin -150px 0 0 0
      background-position 50% 50%
      background-size cover
      background-repeat no-repeat
      background-image url('/img/banner.jpg')
      > .tags
        // 510x604
        width 250px
        height 302px
        background-image url('/img/tags.png')
        background-size contain
        position absolute
        top 50%
        left 50%
        margin -125px 0 0 -151px
        //animation tagsIn 0.2s linear 0s 
  > .story
    margin 30px 0
    > .section
      width 50%
      > .inner
        padding 20px
    > .section.left
      animation cellInY 0.2s 0.4s ease-in both
      float left
      height 200px
      > .inner
        height inherit
        > svg
          max-height 150px
    > .section.right
      float right
      animation cellInY 0.2s 0.5s ease-in both
      > .inner
        border-left: 2px solid c.grey1
        color: c.grey2
        line-height 40px
        > .title
          text-transform uppercase

  > .submenu
    animation cellOutY 0.2s 0.6s ease-in both
    > .item
      width 33.333%
      float left
      text-decoration none
      &:nth-child(1) > .inner
        margin-left 0px
      &:nth-child(3) > .inner
        margin-right 0px
      &:hover > .inner > .copy
        color: c.yellow1
        background-color: c.white1
      > .inner
        background-color: c.yellow1
        margin 20px
        color: c.white1
        text-align center
        padding 20px
        text-transform uppercase
        font f_copy2
        > .copy
          padding 40px 0
          border: 1px solid c.white1
          transition background-color 0.1s linear, color 0.1s linear 0.1s
// mobile
// @media all and (min-width: 1px) and (max-width: 1000px)

@keyframes tagsIn
  from
    transform translate(10px, -25px) rotate(10deg)
    opacity 0
  to
    transform translate(0, 0) rotate(0deg)
    opacity 1
