.container
  margin 30px
  padding 30px
  border: 2px solid c.grey1
  min-height 100%
  > .logo
    color: c.yellow1
    width 348px
    text-align center
    margin auto
    padding 0 0 40px 0
    > .daffodil
      font f_h2
    > .digital
      font f_h1
      line-height 64px
  > .menu
    text-align center
    > .item
      display inline-block
      cursor pointer
      font f_h3
      text-transform uppercase
      color: c.grey3
      padding 20px 30px
      background-color: c.white1
      margin 0 -3px
      text-decoration none
      transition color 0.1s linear
      &:hover
        color: c.yellow1
      &.active
        color: c.yellow1
        text-decoration underline
    > .line
      width 100%
      height 2px
      background-color: c.grey1
      margin -38px 0 0 0

// mobile
// @media all and (min-width: 1px) and (max-width: 1000px)

