
.portfolio
  > .clients
    > .title
      title()
      margin 0 0 40px 0
    > .client
      width 50%
      height 300px
      float left
      animation cellInX 0.2s 0s ease-in both
      for num in 1..5
        &:nth-child({num})
          animation-delay unit(num*0.1, 's')
 
      > .inner
        position relative
        width 80%
        height 80%
        margin 10%
        > .image
          position absolute
          top 0
          left 0
          width 100%
          height 100%
          background-position 50% 50%
          background-repeat no-repeat
          background-size contain
        > .copy
          position absolute
          top 0
          left 0
          width 100%
          height 100%
          display table
          opacity 0
          background-color: rgba(c.white1, 0.9)
          transition opacity 0.2s linear
          &:hover
            opacity 1
          > .inner
            display table-cell
            vertical-align middle
            text-align center
            > .title
              font f_copyb
              color: c.grey2
              text-transform uppercase
              padding 0 0 20px 0
            > .text
              font f_copy
              color: c.grey2
              padding 0 0 10px 0


