.services
  > .weares
    border-bottom: 2px solid c.grey3
    > .weare
      float left
      width 33.333%
      > .image
        position relative
        height 600px
        background-position 50% 50%
        background-repeat no-repeat
        background-size cover
        &.storytellers
          background-image url('/img/typewriter.jpg')
        &.teachers
          background-image url('/img/pencils.jpg')
        &.strategists
          background-image url('/img/desk.jpg')
        > .copy
            position absolute
            height 80px
            top 50%
            width 100%
            margin-top -40px
            color: c.white1
            text-transform uppercase
            text-align center
            > .book
              font f_h4
              text-shadow: 0px 2px 2px rgba(c.black1, 0.5)
              padding 5px 0
            > .bold
              font f_h5
              text-shadow: 0px 4px 4px rgba(c.black1, 0.5)
              padding 5px 0
      > .desc
        font f_copy2
        padding 40px 0
        line-height 40px
        color: c.grey2

  > .approach
    margin 40px 0
    border-top: 60px solid c.yellow1
    border-left: 60px solid c.yellow1
    border-right: 60px solid c.tan1
    border-bottom: 60px solid c.tan1
    > .title
      font f_h2
      text-transform uppercase
      text-align center
      color: c.grey2
      border-bottom: 1px solid c.grey3
      padding 60px 0 40px 0
      margin 0 120px
    > .copy
      padding 20px 80px 40px 120px
      font f_copy2
      color: c.grey2
      line-height 40px

  .detail
    margin 0 60px
    > .title
      font f_h2
      padding 40px 0
      border-top: 1px solid c.grey3
      border-bottom: 1px solid c.grey3
      text-transform uppercase
      text-align center
      color: c.grey2

    > .body
      > .row
        width 33.333%
        float left
        > .title
          font f_copyb
          text-transform uppercase
          padding 40px 0 10px 0
          color: c.grey2
        > .copy
          font f_copy
          color: c.grey2
          padding 10px 0
