.services
  > .weares
    border-bottom: 2px solid c.grey3
    > .weare
      float left
      width 33.333%
      animation cellInX 0.2s 0s ease-in both
      &:nth-child(2)
        animation-delay 0.1s
      &:nth-child(3)
        animation-delay 0.2s
      > .image
        position relative
        height 600px
        background-position 50% 50%
        background-repeat no-repeat
        background-size cover
        > .copy
            position absolute
            height 80px
            top 50%
            width 100%
            margin-top -40px
            color: c.white1
            text-transform uppercase
            text-align center
            > .book
              font f_h4
              text-shadow: 0px 2px 2px rgba(c.black1, 0.5)
              padding 5px 0
            > .bold
              font f_h5
              text-shadow: 0px 4px 4px rgba(c.black1, 0.5)
              padding 5px 0
      > .desc
        font f_copy
        padding 40px 20px
        line-height 30px
        color: c.grey2

  > .approach
    animation cellIny 0.2s 0.3s ease-in both
    margin 40px 0
    border-top: 60px solid c.yellow1
    border-left: 60px solid c.yellow1
    border-right: 60px solid c.tan1
    border-bottom: 60px solid c.tan1
    > .title
      font f_h2
      text-transform uppercase
      text-align center
      color: c.grey2
      border-bottom: 1px solid c.grey3
      padding 60px 0 30px 0
      margin 0 120px
    > .copy
      padding 20px 80px 40px 120px
      font f_copy
      color: c.grey2
      line-height 30px

  .detail
    margin 0 60px
    > .title
      title()

    > .body
      > .row
        width 33.333%
        float left
        > .title
          font f_copyb
          text-transform uppercase
          padding 40px 0 10px 0
          color: c.grey2
        > .copy
          font f_copy
          color: c.grey2
          padding 10px 0


@media all and (min-width: 1px) and (max-width: 1000px)
  .services
    > .weares
      > .weare
        float none
        width 100%
        > .image
          height 300px
        > .desc
          text-align center
    > .approach
      border-top: 20px solid c.yellow1
      border-left: 20px solid c.yellow1
      border-right: 20px solid c.tan1
      border-bottom: 20px solid c.tan1
      > .title
        font-size 32px
        margin 0 20px
        padding 20px 0 10px 0
      > .copy
        margin 0 20px
        padding 10px
        font f_copy
        line-height 25px
        text-align center
    > .detail
      margin 0 20px
      > .title
        font-size 32px
        padding 20px 0 10px 0
      > .body > .row
        width 100%
        float none
