.about.section.off
  .spots
    //.spot.photo.photo_girls(style='background-image: url(/img/about/thedaffodils.jpg);')
      .border
    .spot.photo.photo_sarah(style='background-image: url(/img/about/Sarah-Maeve-2.jpg);')
      .border
    .spot.copy.copy_sarah
      .text Sarah-Maeve has 5 years of experience working in the digital marketing industry with a focus on social media.  She spent the last 4 years working at agencies, specializing in social media and integrated digital brand strategies.  She was a Community Manager at VaynerMedia, and most recently, spend 2+ years working on digital strategy at The OutCast Agency.
      a.link(href='http://www.linkedin.com/in/sarahmaevehershboyle',target='_new') linkedin
      a.link(href='http://www.instagram.com/smhb',target='_new') instagram
    .spot.photo.photo_jenny(style='background-image: url(/img/about/Jenny-10.jpg);')
      .border
    .spot.copy.copy_jenny
      .text Jenny Frank has 10+ years experience working in the social digital marketing space.  From NYC to SF, most recently Jenny spent 5 years on the digital team at The OutCast Agency, and prior to that worked at DailyCandy for 4 years in sales, brand, and social media marketing.
      a.link(href='http://www.linkedin.com/in/jennyfournierfrank',target='_new') linkedin
      a.link(href='http://www.instagram.com/jennycandy',target='_new') instagram

    .clear

  .story
    .title1 our story
    .copy It's pretty simple.  We worked together for over two years and realized we made a darn good team.  So, it may sound cliche, but we were literally just two gals sipping red wine watching a Warriors game when one said to the other: "let's just do our own thing, you in?" And that was that.  We used the code name "Project Warrior" until we were officially Daffodil Digital.  The Warriors went on to win the 2015 National Championship, so we're pretty sure that was a good sign.  Fun fact: we've since been given the nickname "The Daffodils" by clients and friends.  We like it, it just fits.
    .title2 why daffodil
    .copy The flower symbolizes new beginnings, something that felt right since we were about to embark on this new business journey together.  The flower blooms in the spring, which was when we took the leap and decided to go off on our own.  The center of the flower is in the shape of a trumpet.  Trumpets amplify sound, and we set out to amplify our clients' messages.  

  .values
    .title our values
    .col.first
      .value
        .title respect
        .copy We believe every successful relationship has a solid foundation of respect and apprecation.
      .value
        .title fun
        .copy We believe happiness is everything in life.  If we're not having fun, what's the point?
      .value
        .title trust
        .copy We believe the best partnerships are built from trust, which is created through honest, transparent communication.

    .col.second
      .daffodil(style='background-image: url(/img/about/flower.png);')

    .col.third
      .value
        .title hard work
        .copy We believe anything is possible with hard work and determination.

      .value
        .title growth
        .copy We believe life is too short to be boring.  Growth takes strength and courage, yet creates the most powerful rewards.

      .value
        .title inspiration
        .copy We believe great work and ideas come from those who are truly inspired by and excited about what they do everyday.

    .clear
