.home.section.off
  .banner(style='background-image: url(/img/banner.jpg);')
    .inner
      .tags(style='background-image: url(/img/tags.png);')

  .story
    .section.left
      .inner
        include ../pub/svg/tagline.svg
    .section.right
      .inner
        .title what we do
        .copy Daffodil Digital is a new digitla communications agency working with brands to develop strategic messages onlin.  We work with small companies who are dreaming big and big brands with a hunger to stay current.
  .clear

  .submenu
    a.item(data-section='services',href='#services'): .inner: .copy services
    a.item(data-section='portfolio',href='#services'): .inner: .copy portfolio
    a.item(data-section='about',href='#services'): .inner: .copy about
  .clear
