extends inc/layout

block content
  .container

    .logo
      .daffodil DAFFODIL
      .digital digital

    .menu
      a.item(href='#home') home
      a.item(href='#services') services
      a.item(href='#portfolio') portfolio
      a.item(href='#about') about
      a.item(href='#contact') contact
      .line

    .banner
      .inner
        .tags

    .story
      .section.left
        .inner
          include ../pub/svg/tagline.svg
      .section.right
        .inner
          .title what we do
          .copy Daffodil Digital is a new digitla communications agency working with brands to develop strategic messages onlin.  We work with small companies who are dreaming big and big brands with a hunger to stay current.

  script(type='text/javascript').
    function loadercomplete() {
      Loader.load('./jst/index.js', 'Index');
      //Global.i()
    }
