extends inc/layout

block content
  .container

    .logo
      .daffodil DAFFODIL
      .digital digital

    .menu
      a.item(href='#home') home
      a.item(href='#services') services
      a.item(href='#portfolio') portfolio
      a.item(href='#about') about
      a.item(href='#contact') contact
      .line

    .banner
      .inner
        .tags

  script(type='text/javascript').
    function loadercomplete() {
      Loader.load('./jst/index.js', 'Index');
      //Global.i()
    }
