.portfolio.section.off
  .clients
    .title our clients
    .client.intuit
      .inner
        .image(style='background-image: url(/img/portfolio/intuit.png);')
        .copy
          .inner
            .title intuit inc., quick books self-employed
            .text social media process development
            .text social media content strategy
            .text social media executive profile building
    .client.salesforce
      .inner
        .image(style='background-image: url(/img/portfolio/salesforce.jpg);')
        .copy
          .inner
            .title salesforce desk.com
            .text social media content strategy
            .text community management
            .text social media metrics program
            .text social media advertising
    .client.tipping
      .inner
        .image(style='background-image: url(/img/portfolio/tippingpoint.png);')
        .copy
          .inner
            .title tipping point community
            .text social media content strategy
            .text community management
            .text social media metrics program
    .client.moment
      .inner
        .image(style='background-image: url(/img/portfolio/moment.png);')
        .copy
          .inner
            .title moment
            .text social media launch strategy
            .text influencer program
    .clear
