.services.section.off
  .weares
    .weare.storytellers
      .image.storytellers(style='background-image: url(/img/services/typewriter.jpg);')
        .copy
          .book we are
          .bold storytellers.
      .desc We develop the createive messaging and visuals to make your brand story memorable.

    .weare.teachers
      .image.teachers(style='background-image: url(/img/services/pencils.jpg);')
        .copy
          .book we are
          .bold teachers.
      .desc We educate our clients and provide them with the tools they need to use social and digital media in a more strategic way.
    .weare.strategists
      .image.strategists(style='background-image: url(/img/services/desk.jpg);')
        .copy
          .book we are
          .bold strategists.
      .desc We provide strategic guidance and inspire our clients to create thoughtful digital experiences driving toward their overall business goals.
    .clear
  .approach

    .title our approach
    .copy We are a boutique agency with big agency experience.  Our partnerships are custom built.  We take a personalized approach to all the work we do.  We are here to help create, manage, and improve the digital footprint of the brands, organizations, and people with whom we partner.

  .detail
    .title our services
    .body
      ul.row
        .title strategy
        li.copy Social Digital Brand Strategy
        li.copy Social Digital Content Strategy
        li.copy Social Digital Launch Strategy
        li.copy Personal Brand Strategy
        li.copy Event Social Media Strategy
        li.copy Social Media Crisis Management

        .title content & storytelling
        li.copy Content Development
        li.copy Editorial Calendar Management
        li.copy Influencer &amp; Ambassador Programs
      ul.row
        .title community management
        li.copy Community Building
        li.copy Social Media Customer Service
        .title analytics
        li.copy Auditing
        li.copy Competitive Insights
        li.copy Monthly Metrics Reporting
        li.copy Benchmarking

      ul.row
        .title education
        li.copy Social Media Company Trainings
        li.copy Online Thought Leadership Trainings
        li.copy Social Media Executive Profile Building
        li.copy Social Media Process Development
        .title advertising
        li.copy Social Media Ad Strategy
        li.copy Social Ad Campaign Optimization &amp; Management
        li.copy Social Ad Metrics Reporting

          
      .clear
